@import "variables";
input[type="text"] { @include border-radius(3px); border: 1px solid $cr-primary-1; height: 24px; color: $cr-primary-1;}
input[type="password"] { @include border-radius(3px); border: 1px solid $cr-primary-1; height: 24px; color: $cr-primary-1; }
input[type="checkbox"] { @include border-radius(3px); border: 1px solid $cr-primary-1; height: 24px; color: $cr-primary-1; }

input[type="text"].wrong { border: 1px solid red; }
input[type="password"].wrong { border: 1px solid red; }

@for $i from 1 through 20 {    
    input.w#{$i} { width: 10px * $i; }
}


textarea.resizeh { resize: vertical; }
textarea.noresize { resize: none; }

select { @include border-radius(3px); border: 1px solid $cr-primary-1; padding: 6px 4px; }

.f-base { display: flex; }
.f-row { flex-flow: row; }
.f-wrap { flex-wrap: wrap; }
.f-col { flex-flow: column; }
.f-jc { justify-content: center;}
.f-jsb { justify-content: space-between; }
.f-jsa { justify-content: space-around; }
.f-je { justify-content: flex-end; }
.f-ac { align-items: center;}
.f-afs { align-items: flex-start; }
.f-auto { flex: auto; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.full-height { height: 100%; }
.full-width { width: 100%; }

.box { @include border-radius(4px); padding: $common-pd-1; }

.btn { cursor: pointer; }

.border-radius-1 { @include border-radius(3px); }

.emp-1 { @include border-radius(3px); background-color: white; color: $cr-primary-1; }

.cr-alert { color: $cr-alert; }
.cr-primary-1 { color: $cr-primary-1; }
.cr-primary-2 { color: $cr-primary-2; }
.cr-black { color: black; }
.cr-white { color: white; }
.cr-check { color: #4CAF50; }
.cr-close { color: #F44336; }

.bg-primary-1 { background-color: $cr-primary-1; }
.bg-primary-2 { background-color: $cr-primary-2; }
.bg-ft-1 { background-color: $cr-ft-1; }
.bg-white { background-color: white;}

.st-1 { background-color: $cr-primary-1; color: $cr-ft-1; }
.st-2 { background-color: $cr-primary-2; color: white; }
.st-3 { background-color: $cr-primary-3; color: white; }
.st-pickle { background-color: $cr-level-1; color: white; }
.st-cancel { background-color: #aaaaaa; color: #e4e4e4; }

.fts-primary { font-size: 16px; }
.fts-sub { font-size: 12px; }
.fts-title-1 { font-size: 20px; }
.fts-title-2 { font-size: 22px; }
.fts-title-3 { font-size: 24px; }
.fts-subtitle-1 { font-size: 14px; }
.ft-bold { font-weight: bolder; }
.ft-normal { font-weight: normal; }
@for $i from 10 through 30 {
    .fts-#{$i} { font-size: 1px * $i; }
}

@for $i from 1 through 16 {
    .pdr-#{$i} { padding-right: 4px * $i; }
    .pdl-#{$i} { padding-left: 4px * $i; }
    .pdw-#{$i} { padding-left: 4px * $i; padding-right: 4px * $i; }
    .pda-#{$i} { padding: 4px * $i; }
    .pdh-#{$i} { padding-top: 4px * $i; padding-bottom: 4px * $i; }
    .pdt-#{$i} { padding-top: 4px * $i; }
    .pdb-#{$i} { padding-bottom: 4px * $i; }
    .mgt-#{$i} { margin-top: 4px * $i; }
    .mgb-#{$i} { margin-bottom: 4px * $i; }
    .mgw-#{$i} { margin-left: 4px * $i; margin-right: 4px * $i; }
    .mgh-#{$i} { margin-top: 4px * $i; margin-bottom: 4px * $i; }
    .mga-#{$i} { margin: 4px * $i;}
    .mgl-#{$i} { margin-left: 4px * $i;}
    .mgr-#{$i} { margin-right: 4px * $i;}
}

@for $i from 1 through 10 {
    .btn-#{$i} { @include border-radius(3px); font-size: (9pt + 0.5pt * $i); padding: 2px * $i 4px * $i; cursor: pointer; display: inline-block; text-align: center; }
    .btn-#{$i}:hover {  }
    .btn-disabled-#{$i} { @include border-radius(3px); font-size: (9pt + 0.5pt * $i); padding: 2px * $i 4px * $i; cursor: pointer; display: inline-block; text-align: center; background-color: #aaaaaa; color: #e4e4e4; }    
}

.cr-level-1 { background-color: $cr-level-1; }
.cr-level-2 { background-color: $cr-level-2; }
.cr-level-3 { background-color: $cr-level-3; }
.cr-level-4 { background-color: $cr-level-4; }
.cr-level-5 { background-color: $cr-level-5; }

.cr-fslv-1 { color: $cr-level-1; }
.cr-fslv-2 { color: $cr-level-2; }
.cr-fslv-3 { color: $cr-level-3; }
.cr-fslv-4 { color: $cr-level-4; }
.cr-fslv-5 { color: $cr-level-5; }

.border-style-1 { border: 1px solid $cr-primary-1; border-bottom: 2.5px solid $cr-primary-1; border-right: 2.5px solid $cr-primary-1; }
.border-style-2 { border: 1.5px solid $cr-alert; }

.border-top-radius { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.border-radius { border-radius: 3px; }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: $cr-home-back;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: $cr-primary-1;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: $cr-primary-2;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

table.type-1 { border-collapse: collapse; font-size: 15px; color: black; }
table.type-1.border { border: 1px solid $cr-primary-1; }
table.type-1.row td:first-child{ background-color: $cr-primary-1; color: white; }
table.type-1 tr.h { background-color: $cr-primary-1; color: white; }
table.type-1 td { padding: 3px 5px;  }
table.type-1.border td { border: 1px solid $cr-primary-1; }

table.type-2 { border-collapse: collapse; font-size: 13px; color: black; }
table.type-2.border { border: 1px solid $cr-primary-1; }
table.type-2.row td:first-child{ background-color: $cr-primary-2; color: white; text-align: center; }
table.type-2 tr.h { background-color: $cr-primary-2; color: white; }
table.type-2 td { padding: 6px 10px;  }
table.type-2.border td { border: 1px solid $cr-primary-2; }

table.type-3 { border-collapse: collapse; font-size: 14px; color: black; }
table.type-3.border { border: 1px solid $cr-primary-1; }
table.type-3.row td:not([colspan="2"]):first-child{ background-color: $cr-primary-2; color: white; text-align: center; }
table.type-3.row td[colspan="2"] { text-align: center; }
table.type-3 tr.h { background-color: $cr-primary-2; color: white; }
table.type-3 td { padding: 8px 10px;  }
table.type-3.border td { border: 1px solid $cr-primary-2; }

.page-title-preset {
    @extend .f-base;
    @extend .f-ac;
    @extend .f-jsb;
    @extend .fts-title-3;
    @extend .st-1;
    @extend .border-top-radius;
    @extend .pdh-2;
    @extend .pdl-2;
}

.page-admin-title-preset {
    @extend .f-base;
    @extend .f-ac;
    @extend .f-jsb;
    @extend .fts-title-3;
    @extend .st-3;
    @extend .border-top-radius;
    @extend .pdh-2;
    @extend .pdl-2;
}

.page-pickle-title-preset {
    @extend .f-base;
    @extend .f-ac;
    @extend .f-jsb;
    @extend .fts-title-3;
    @extend .st-pickle;
    @extend .border-top-radius;
    @extend .pdh-2;
    @extend .pdl-2;
}

.subpage-root-preset { @extend .f-base; @extend .f-col; @extend .mgl-4; @extend .mgt-4; }

.article-title-preset { @extend .f-base; font-size: 21px; @extend .pdh-3; @extend .mgw-4; word-break:break-all;}
.uline { border-bottom: 0.8px solid $cr-primary-1; }

.page-default { width: $layout-contents-width; min-height: $layout-contents-height-with-padding; background-color: $cr-ft-1; }

.pagination { list-style: none; display: flex; justify-content: center; }
.pagination li { padding: 15px 15px; font-size: 12pt; }
.pagination li.active { color: red; }