@import "variables";

// 광고 사이즈
//.ads { background-color: #FF9800; }
.ads.s728x90 { width: 728px; height: 90px; }
.ads.s728x250 { width: 728px; height: 250px; }
.ads.s970x250 { width: 970px; height: 250px; }
.ads.s320x50 { width: 320px; height: 50px; }
.ads.s320x100 { width: 320px; height: 100px; }
.ads.s160x600 { width: 160px; height: 600px; }

.btn { cursor: pointer; }

// 레이아웃
#Top { height: $lo-top-height; background-color: $cr-primary-1; }

.table-type-1-fs { font-size: 12.5px; }

table.type-1 { border-collapse: collapse; width: 100%; }
table.type-1 .top td { text-align: center; background-color: $cr-primary-1; border: 1.5px solid black; color: white; }
table.type-1 td { border: 1.5px solid black; @extend .pdh-1; @extend .pdw-4; font-size: 12.5px; }
table.type-1 .center td { text-align: center; }

table.form-1 { border-collapse: separate; width: 100%; }
table.form-1 tr > td:not([colspan="2"]):first-child { text-align: center; background-color: $cr-primary-1; color: white; @extend .pdh-1; @extend .pdw-4; }
table.form-1 tr > td[colspan="2"] { text-align: center; @extend .pdh-1; @extend .pdw-4; }
table.form-1 tr > td:nth-child(2) { @extend .pdh-1; @extend .pdw-1; }
table.form-1 td { font-size: 12.5px; }

.pagination { list-style: none; display: flex; justify-content: center; }
.pagination li { padding: 15px 15px; font-size: 12pt; }
.pagination li.active { color: $cr-confirm; }

input[type=text].type-1 { height: 26px; }
input[type=password].type-1 { height: 26px; }

.alert { color: $cr-cancel; }