@import 'func';

.f-base { display: flex; }
.f-row { display: flex; flex-flow: row; }
.f-col { display: flex; flex-flow: column; }
.f-wrap { flex-wrap: wrap; }
.f-jc { justify-content: center;}
.f-jsb { justify-content: space-between; }
.f-jsa { justify-content: space-around; }
.f-je { justify-content: flex-end; }
.f-ac { align-items: center;}
.f-afe { align-items: flex-end; }
.f-afs { align-items: flex-start; }
.f-auto { flex: auto; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.full-height { height: 100%; }
.full-width { width: 100%; }

@for $i from 1 through 16 {
    .pdr-#{$i} { padding-right: 4px * $i; }
    .pdl-#{$i} { padding-left: 4px * $i; }
    .pdw-#{$i} { padding-left: 4px * $i; padding-right: 4px * $i; }
    .pda-#{$i} { padding: 4px * $i; }
    .pdh-#{$i} { padding-top: 4px * $i; padding-bottom: 4px * $i; }
    .pdt-#{$i} { padding-top: 4px * $i; }
    .pdb-#{$i} { padding-bottom: 4px * $i; }
    .mgt-#{$i} { margin-top: 4px * $i; }
    .mgb-#{$i} { margin-bottom: 4px * $i; }
    .mgw-#{$i} { margin-left: 4px * $i; margin-right: 4px * $i; }
    .mgh-#{$i} { margin-top: 4px * $i; margin-bottom: 4px * $i; }
    .mga-#{$i} { margin: 4px * $i;}
    .mgl-#{$i} { margin-left: 4px * $i;}
    .mgr-#{$i} { margin-right: 4px * $i;}
}

@for $i from 1 through 10 {
    .btn-#{$i} { @include border-radius(3px); font-size: (9pt + 0.5pt * $i); padding: 2px * $i 4px * $i; cursor: pointer; display: inline-block; text-align: center; }
    .btn-disabled-#{$i} { @include border-radius(3px); font-size: (9pt + 0.5pt * $i); padding: 2px * $i 4px * $i; cursor: pointer; display: inline-block; text-align: center; background-color: #aaaaaa; color: #e4e4e4; }    
}