@import 'fonts';
@import 'layout';

// 컬러
$cr-primary-1: #004D40;
$cr-primary-2: #455A64;
$cr-primary-3: #283593;

$cr-confirm: 'green';
$cr-cancel: 'red';

// 레이아웃 변수
$lo-top-height: 100px;
$lo-bot-height: calc( 100vh - #{$lo-top-height} );